@use "variables" as *;
@use "mixins" as m;

.game-board {
  @include m.game-flex-center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: auto;
  padding: 50px;
  border-radius: $border-radius;
  @include m.game-shadow-default;
  @include m.game-board-gradient-bg;
  display: grid;
  grid-gap: 10px;

  &__empty {
    font-size: 18px;
    font-weight: 800;
  }

  &[data-difficulty-grid="easy"] {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  &[data-difficulty-grid="medium"] {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
  }

  &[data-difficulty-grid="hard"] {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
  }

  &[data-difficulty-grid="extreme"] {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
  }

  @include m.game-responsive(mobile) {
    place-items: center;
    padding: 20px;
    overflow: auto;

    &[data-difficulty-grid="easy"] {
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
    }

    &[data-difficulty-grid="medium"] {
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
    }

    &[data-difficulty-grid="hard"] {
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
    }

    &[data-difficulty-grid="extreme"] {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  }
}
