@use "variables" as *;
@use "mixins" as m;

.game-stats-container {
  @include m.game-flex-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  border-radius: $border-radius;
  background: linear-gradient(135deg, #8e44ad, #c0392b);
  color: white;
  text-align: center;
  gap: 10px;
  opacity: 0;
  @include m.game-animation-fade-in;
  @include m.game-board-gradient-bg;

  @include m.game-responsive(mobile) {
    flex-direction: column;
    text-align: left;
    padding: 15px;
  }

  &__stats {
    display: flex;
    gap: 15px;
    font-size: 18px;
    @include m.game-cursor-default;
  }

  &__end button {
    @include m.game-button-secondary;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: none;

    &:hover {
      transform: scale(1.05);
    }
  }

  span {
    @include m.game-flex-center;
    @include m.game-button-secondary;
  }

  @include m.game-responsive(mobile) {
    place-items: center;
    padding: 20px;
    overflow: auto;

    &__stats {
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: 16px;
      @include m.game-cursor-default;
    }

    &__end button {
      font-size: 16px;
    }
  }
}
