@use "variables" as *;
@use "mixins" as *;

.game-board {
  @include flex-center;
  flex-wrap: wrap;
  gap: 4px;
  width: 800px;
  height: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: $border-radius;
  @include shadow;
  @include gradient-bg;

  @include responsive(mobile) {
    width: 90%;
    height: auto;
  }
}
