@use "mixins" as m;
@use "variables" as *;

.game-menu {
  @include m.game-modal-container;
  @include m.game-menu-gradient-bg;
  @include m.game-cursor-default;

  h1 {
    @include m.game-primary-header;
  }

  h2 {
    @include m.game-secondary-header;
  }

  select {
    width: 100%;
    padding: 10px;
    color: $tertiary-color;
    font-weight: 800;
    margin-bottom: 15px;
    border: 1px solid $button-secondary-color;
    border-radius: 5px;
    font-size: 16px;
    background: $button-secondary-color;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $button-secondary-hover;
    }

    &:focus {
      border-color: $button-secondary-hover;
      outline: none;
    }
  }

  option {
    color: $tertiary-color;
    font-weight: 800;
  }

  &__difficulty,
  &__predefined-set {
    text-align: left;
    margin-bottom: 15px;
  }

  &__info {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    background: $secondary-color;
    padding: 5px 10px;
    border-radius: 5px;
  }

  &__button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    background: $primary-color;
    color: white;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: $button-primary-hover;
    }
  }

  @include m.game-responsive(mobile) {
    width: 80%;
    font-size: 14px;
    padding: 15px;
  }

  @include m.game-responsive(mobile) {
    width: 80%;
    font-size: 14px;
    padding: 15px;
  }
}

.game-menu-backdrop {
  @include m.game-backdrop;
}
