@use "sass:color";
@use "variables" as *;
@use "mixins" as m;

.tile {
  @include m.game-flex-center;
  width: 100%;
  min-height: $tile-size;
  min-width: 60px;
  height: 100%;
  max-height: 150px;
  font-size: 32px;
  font-weight: bold;
  border-radius: $border-radius;
  border: none;
  background: $tile-bg;
  cursor: pointer;
  transition: transform 0.4s ease, background 0.3s ease;

  &[data-revealed="true"] {
    background-color: #777ee3;
  }

  &[data-matched="true"] {
    background-color: #5bb35e;
    cursor: default;
  }

  &[data-revealed="false"]:not([data-matched="true"]) {
    background-color: #b491c5;
  }
}
